<a href="https://www.facebook.com/galisongala" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
<a href="https://www.instagram.com/gala_kitchenware/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
<a href="https://uk.pinterest.com/galakitchenware/" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
<a href="https://twitter.com/galison_gala" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
<a href="mailto:gala@email.co" title="gala@email.co"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
<a title="gala-whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i><div class="popup"><div><h5>+86 18688438575</h5></div></div></a>
<a title="richard@galison.co"><i class="fa fa-skype" aria-hidden="true"></i><div class="popup"><div><h5>richard@galison.co</h5></div></div></a>
<a title="qrcode"><i class="fa fa-qrcode" aria-hidden="true"></i>
    <!--<div class="popup"><div><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1502797026620&di=4e008120c8b061168bf75f79a680c435&imgtype=0&src=http%3A%2F%2F7.pic.pc6.com%2Fup%2F2016-12%2F20161213153647219.png"></div></div>-->
</a>
<div class="clr"></div>