<!DOCTYPE html>
<html lang="zh-CN">
<include file="Public:header"/>
<body>
<include file="Public:nav"/>
<include file="Public:index_banner"/>
<section class="content-masonry">
    <div class="container">
        <!-- end brand -->
        <ul class="grid style">
            <volist name="image_list" id="il">
                <li class="grid-item" style="height:{$il.height}">
                    <a href="{$il.href}"><img src="{$il.image}" height="{$il.height}"></a>
                </li>
            </volist>
            <div class="clr"></div>
        </ul>
    </div>
    <!-- end .container -->
</section>
<!-- end .content-masonry -->
<include file="Public:footer"/>
<include file="Public:share"/>
</body>
</html>
<include file="Public:js"/>