<!DOCTYPE html>
<html lang="zh-CN">
<include file="Public:header"/>
<body>
<include file="Public:nav"/>
<include file="Public:index_banner"/>
<section class="content-masonry ">
		<div class="container">
			<include file="Public:lj"/>
			<div class="story-text">
				<h4>CERTIFICATION</h4>
				<div class="certification" style="background-image: url(images/update/story-certification00.jpg)"></div>
				<h5>Our factory audit was conducted which included labour standards, health and safety, environment and business ethics. All our <br>current products are under testing of LFGB, REACH FDA international standards. Raw materials are inspected prior for <br> production in order to ensure the best quality practice from the beginning.</h5>
			</div>
			<ul class="certificationImg story">
				<li style="width: 100px;"></li>
				<li>
					<a href="__IMG__/update/story-certification01.jpg" target="_blank"><img src="__IMG__/update/story-certification01.jpg"></a>
				</li>
				<li>
					<a href="__IMG__/update/story-certification02.jpg" target="_blank"><img src="__IMG__/update/story-certification02.jpg"></a>
				</li>
				<li>
					<a href="__IMG__/update/story-certification03.jpg" target="_blank"><img src="__IMG__/update/story-certification03.jpg"></a>
				</li>
				<div class="clr"></div>
				<li>
					<a href="__IMG__/update/story-certification01.jpg" target="_blank"><img src="__IMG__/update/story-certification01.jpg"></a>
				</li>
				<li>
					<a href="__IMG__/update/story-certification02.jpg" target="_blank"><img src="__IMG__/update/story-certification02.jpg"></a>
				</li>
				<li>
					<a href="__IMG__/update/story-certification03.jpg" target="_blank"><img src="__IMG__/update/story-certification03.jpg"></a>
				</li>
				<li>
					<a href="__IMG__/update/story-certification03.jpg" target="_blank"><img src="__IMG__/update/story-certification03.jpg"></a>
				</li>
				<div class="clr"></div>
			</ul>
		</div>
		<!-- end .container -->
	</section>
	<!-- end .content-masonry -->
<include file="Public:footer"/>
<include file="Public:share"/>
</body>
</html>
<include file="Public:js"/>