<!DOCTYPE html>
<html lang="zh-CN">
<include file="Public:header"/>
<body>
<include file="Public:nav"/>
<include file="Public:index_banner"/>
<section class="content-masonry ">
    <div class="container">
        <include file="Public:lj"/>
        <ul class="grid story">
            <li class="grid-item grid-item-half jtweb story" style="height:212px;">
            </li>
            <li class="grid-item grid-item-half jtweb story" style="height:566px;">
                <a href="#" class="img" ><img src="__IMG__/update/story-index01.jpg"></a>
                <a href="#" class="title">WHO IS GALA</a>
                <span class="line"></span>
                <h5>GALA GROUP is a privately owned business in the Home ware &Kitchen ware export industry since 2001.
                    As a leader in design & innovation, we truly understand the global market and the customers’
                    requirements.
                    <BR>GALA’s strategy and goal is to become one of the leading China sourcing houses offering complete
                    service to its customer while maintaining great value & quality products. After the acquisition of 2
                    factories in Yangjiang and joint ventures with several steel and ceramic manufacturers in China,
                    GALA has overall control and flexibility allowing for customization of global market.</h5>
            </li>
            <li class="grid-item grid-item-half jtweb story" style="height:609px;">
                <a href="#" class="img"><img src="__IMG__/update/story-index02.jpg"></a>
                <a href="#" class="title">MARKETING SUPPORT</a>
                <span class="line"></span>
                <h5>With more than 15 years in the field of kitchenware industry, we have the knowledge and experience
                    to make your project a success. By using the global database from professional investigation company
                    and regular
                    <br>visiting to major markets in Europe, USA, Mid-East, etc., we are able to provide global sourcing
                    service, product development and innovative packaging design, merchandisers & point of sale solution
                    at the world class standard. We feel it is our job to support and stay in tune with you at all time.
                </h5>
            </li>
            <li class="grid-item grid-item-half jtweb story" style="height:523px;">
                <a href="#" class="img"><img src="__IMG__/update/story-index03.jpg"></a>
                <a href="#" class="title">BRANDING</a>
                <span class="line"></span>
                <h5>GALA becomes a well-recognized brand in the Europe, USA, Australia and the Asian markets rapidly in
                    the last few years. We would continue to expand the current product line with innovative products
                    and fresh
                    <br>packaging design along with multi-channel marketing strategies. Recently we acquired
                    distribution deal under the GALA Group that would increase our market share significantly in the
                    future.</h5>
            </li>
            <li class="grid-item grid-item-half jtweb story" style="height:481px;">
                <a href="#" class="img"><img src="__IMG__/update/story-index04.jpg"></a>
                <a href="#" class="title">PRODUCTION</a>
                <span class="line"></span>
                <h5>With the acquisition of two factories and joint ventures with several steel and ceramic
                    manufacturers in China, GALA’s production team is capable of developing high quality kitchen wares
                    and dining items across the full range of products including cooking, baking, tools, gadgets, knives
                    and silicone items. Our QA, QC and product testing team conduct on-site visits to ensure all
                    products meet the quality standards as established by our clients and on-time deliveries.</h5>
            </li>
            <li class="grid-item grid-item-half jtweb story" style="height:511px;">
                <a href="#" class="img" ><img src="__IMG__/update/story-index05.jpg"></a>
                <a href="#" class="title">OUR TEAM</a>
                <span class="line"></span>
                <h5>In the past 15 years of experience, we have already established a
                    <br>professional team to provide reliable service for product development, OEM production, marketing
                    and merchandising. We are always looking forward to building long-term cooperation and partner
                    relationship with our clients which is based on our global reputation.</h5>
            </li>
            <li class="grid-item grid-item-half jtweb story" style="height:505px;">
                <a href="__APP__/Story/showroom" class="img"><div class="mark_img"></div><img src="__IMG__/update/story-index07.jpg"></a>
                <a href="__APP__/Story/showroom" class="title">SHOWROOM</a>
                <span class="line"></span>
                <h5>Visit our showroom where you are able to see our latest product available. With our sophisticated
                    product lines, you could find the essential elements to complete the sourcing plan or develop new
                    collections of products that fit your target customers. In the meantime, our visual showroom is
                    under developing with the VR technology.</h5>
            </li>
            <li class="grid-item grid-item-half jtweb story" style="height:481px;">
                <a href="__APP__/Story/showtime" class="img"><div class="mark_img"></div><img src="__IMG__/update/story-index08.jpg"></a>
                <a href="__APP__/Story/showtime" class="title">SHOWS & TIME</a>
                <span class="line"></span>
                <h5>We take part in trade shows around the world, including Messe Frankfurt Exhibition, Chicago
                    International Home+Houseware Show and Canton Fair, etc annually. Welcome to visit our booth at the
                    coming Canton Fair in Oct. 2016.</h5>
            </li>
            <li class="grid-item jtweb story banner" style="height:220px;">
                <div class="banner hWrapper">
                    <div id="carouselh">
                        <div><img alt="" src="__IMG__/update/story-min-banner01.jpg"/>
                        </div>
                        <div><img alt="" src="__IMG__/update/story-min-banner02.jpg"/>
                        </div>
                        <div><img alt="" src="__IMG__/update/story-min-banner03.jpg"/>
                        </div>
                        <div><img alt="" src="__IMG__/update/story-min-banner04.jpg"/>
                        </div>
                        <div><img alt="" src="__IMG__/update/story-min-banner05.jpg"/>
                        </div>
                        <div><img alt="" src="__IMG__/update/story-min-banner06.jpg"/>
                        </div>
                        <div><img alt="" src="__IMG__/update/story-min-banner04.jpg"/>
                        </div>
                        <div><img alt="" src="__IMG__/update/story-min-banner02.jpg"/>
                        </div>
                        <div><img alt="" src="__IMG__/update/story-min-banner05.jpg"/>
                        </div>
                        <div><img alt="" src="__IMG__/update/story-min-banner03.jpg"/>
                        </div>
                        <div><img alt="" src="__IMG__/update/story-min-banner06.jpg"/></div>
                        <div><img alt="" src="__IMG__/update/story-min-banner01.jpg"/>
                        </div>
                    </div>
                </div>
            </li>
            <li class="grid-item grid-item-half jtweb story" style="height:504px;">
                <a href="__APP__/Story/certification" class="img"><div class="mark_img"></div><img src="__IMG__/update/story-index09.jpg"></a>
                <a href="__APP__/Story/certification" class="title">CERTIFICATION</a>
                <span class="line"></span>
                <h5>Our factory audit was conducted which included labour standards, health and safety, environment and
                    business ethics. All our current products are under testing of LFGB, REACH FDA international
                    standards. Raw materials are inspected prior for production in order to ensure the best quality
                    practice from the beginning.</h5>
            </li>
            <li class="grid-item grid-item-half jtweb story" style="height:464px;">
                <a href="__APP__/Story/map" class="img"><div class="mark_img"></div><img src="__IMG__/update/story-index10.jpg"></a>
                <a href="__APP__/Story/map" class="title">CUSTOMER DISTRIBUTION MAP</a>
                <span class="line"></span>
                <h5>GALA has won a broad reputation worldwide, which covers the Europe, American, Asia and Australia
                    market. GALA’s products are traded by several major agents and importers globally.</h5>
            </li>
            <li class="grid-item jtweb story" style="height:387px;">
                <a href="#" class="img"><img src="__IMG__/update/story-index11.jpg"></a>
                <a href="#" class="title">OUR PROCESS</a>
                <span class="line"></span>
            </li>

        </ul>
        <ul class="link story">
            <volist name="business_list" id="bul">
                <li><img src="{$bul.image}" title="{$bul.title}"></li>
            </volist>
            <div class="clr"></div>
        </ul>
    </div>
    <!-- end .container -->
</section>
<!-- end .content-masonry -->
<include file="Public:footer"/>
<include file="Public:share"/>
</body>
</html>
<!-- unslider 图片轮播 -->
<script src="__JS__/jsCarousel-2.0.0.js"></script>
<include file="Public:js"/>
<script type="text/javascript">
    $(document).ready(function() {
        $('#carouselh').jsCarousel({
            autoscroll: false,
            circular: true,
            masked: false,
            itemstodisplay: 6,
            orientation: 'h'
        });
        set_sT();
    });
    function set_sT(){
        var wlh = window.location.hash,t='none';
        console.log(wlh);
        try {
            if (wlh) {
                switch (wlh){
                    case '#our_service':t = '820px';break;
                    case '#our_team':t = '1900px';break;
                    case '#our_process':t = '3620px';break;
                    default: t = 'none';break;
                }
                console.log(t);
                if (t != 'none') $('body,html').animate({'scrollTop': t}, 300);
            } else {
                return false;
            }
        }catch (e){
            console.log(e);
        }
    }
</script>