<footer>
    <div class="container">
        <div class="searchshare">
            <ul>
                <li class="search">
                    <form>
                        <input type="text" placeholder="Search......">
                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </form>
                </li>
                <li class="share">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-qrcode" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
        <!-- end .searchshare -->
        <div class="help">
            <ul>
                <h4>Log in</h4>
                <li><a href="#">Customer Portal</a></li>
                <li><a href="#">Designer Portal</a></li>
                <li><a href="#">Supplier Portal</a></li>
            </ul>
            <ul>
                <h4>About Us</h4>
                <li><a href="#">Our Service</a></li>
                <li><a href="#">Our Team</a></li>
                <li><a href="#">Our Process</a></li>
            </ul>
            <ul>
                <h4>Account</h4>
                <li><a href="#">My Cart</a></li>
                <li><a href="#">My Order</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <ul>
                <h4>Useful Guides</h4>
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Trends</a></li>
                <li><a href="#">Brands</a></li>
            </ul>
            <div class="clr"></div>
        </div>
        <!-- end .help -->
        <div class="copy">
            <h5 class="left">GALA FACTORY CERTIFICATION</h5>
            <h5 class="right">TERMS AND CONDITIONS</h5>
            <div class="icon">
                <ul>
                    <li>
                        <a><img src="__PUBLIC__/Shop/p/images/update/Certification/1.BSCI_logo.jpg"></a>
                    </li>
                    <li>
                        <a><img src="__PUBLIC__/Shop/p/images/update/Certification/2.fsc-logo.png"></a>
                    </li>
                    <li>
                        <a><img src="__PUBLIC__/Shop/p/images/update/Certification/3.sedex-logo.png"></a>
                    </li>
                    <li>
                        <a><img src="__PUBLIC__/Shop/p/images/update/Certification/4.Bureau_Veritas.png"></a>
                    </li>
                    <li>
                        <a><img src="__PUBLIC__/Shop/p/images/update/Certification/5.SGS.png"></a>
                    </li>
                    <li>
                        <a><img src="__PUBLIC__/Shop/p/images/update/Certification/6.Intertek_hi_res_logo.png"></a>
                    </li>
                    <li>
                        <a><img src="__PUBLIC__/Shop/p/images/update/Certification/7.TUV_Rheinland.png"></a>
                    </li>
                    <li>
                        <a><img src="__PUBLIC__/Shop/p/images/update/Certification/8.TUV-Sud-Logo.png"></a>
                    </li>
                    <div class="clr"></div>
                </ul>

            </div>
            <div class="copyright">
                <h6>Room1401,DongTian Tower,No,19,HaiAn Road,ZhuJiang New Town, Tianhe,Guangzhou,China 510627</h6>
                <h6>2016  C copyright Gala Group.All Rights Reserved.Site Map Contact</h6>
            </div>
        </div>
        <!-- end .copy -->
    </div>
    <!-- end .container -->
</footer>
<!-- end .footer -->

<div class="contactBar-fixed">
    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-qrcode" aria-hidden="true"></i></a>
</div>
<!-- end .contactBar-fixed -->