<!DOCTYPE html>
<html lang="zh-CN">
<include file="Public:header"/>
<body>
<include file="Public:nav"/>
<include file="Public:index_banner"/>
<!-- end .indexBanner -->
	<section class="subscribe">
		<div class="container">
			<span>Subscribe to our newsletter</span>
			<div>
				<input type="text">
				<button>Subscribe</button>
			</div>
		</div>
	</section>

	<footer>
		<div class="container">
			<div class="searchshare">
				<ul>
					<li class="search">
						<form>
							<input type="text" placeholder="Search......">
							<a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
						</form>
					</li>
					<li class="share">
						<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-qrcode" aria-hidden="true"></i></a>
					</li>
				</ul>
			</div>
			<!-- end .searchshare -->
			<div class="help">
				<ul>
					<h4>Log in</h4>
					<li><a href="#">Cutstomer Portal</a></li>
					<li><a href="#">Dseigner Portal</a></li>
					<li><a href="#">Supplier Portal</a></li>
				</ul>
				<ul>
					<h4>About Us</h4>
					<li><a href="#">Our Service</a></li>
					<li><a href="#">Our Team</a></li>
					<li><a href="#">Our Process</a></li>
				</ul>
				<ul>
					<h4>Account</h4>
					<li><a href="#">My Record</a></li>
					<li><a href="#">My Order</a></li>
					<li><a href="#">Contact us</a></li>
				</ul>
				<ul>
					<h4>Useful Guides</h4>
					<li><a href="#">Site map</a></li>
					<li><a href="#">Trends</a></li>
					<li><a href="#">Brands</a></li>
				</ul>
				<div class="clr"></div>
			</div>
			<!-- end .help -->
			<div class="copy">
				<h5 class="left">GALA FACTORY CERTIFICATION</h5>
				<h5 class="right">TERMS AND CONDITIONS</h5>
				<div class="icon"></div>
				<div class="copyright">
					<h6>Room1401,DongTian Tower,No,19,HaiAn Road,ZhuJiang New Town, Tianhe,Guangzhou,China 510627</h6>
					<h6>2016  C copyright Gala Group.All Rights Reserved.Site Map Contact</h6>
				</div>
			</div>
			<!-- end .copy -->
		</div>
		<!-- end .container -->
	</footer>
	<!-- end .footer -->

	<div class="contactBar-fixed">
		<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-qrcode" aria-hidden="true"></i></a>
	</div>
	<!-- end .contactBar-fixed -->

	<div class="signIn-popup-fixed">
		<ul class="meun">
			<li><a herf="#">Client</a></li>
			<li class="active"><a herf="#">Supplier</a></li>
			<li><a herf="#">Designer</a></li>
			<li><a herf="#">Staff</a></li>
			<div class="clr"></div>
		</ul>
		<form>
			<label>
				<input type="text" placeholder="Email address">
			</label>
			<label>
				<input type="text" placeholder="Email password">
			</label>
			<label>
				<button>Login</button>
			</label>
			<label>
				<a href="#">Forgot your password? Click here</a>
			</label>
			<div class="reset">
				<h4>Reset Password</h4>
				<h6>We can help you reset your password</h6>
				<input type="text" placeholder="Email address">
				<button>Submit</button>
				<span>We will send a new password to your email within tow working days.</span>
			</div>
		</form>
		<div class="register">
			<h5>Don`t have an account?</h5>
			<h5>Register for Market Place</h5>
			<ul>
				<li>
					<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-mobile" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
				</li>
				<div class="clr"></div>
			</ul>
		</div>
	</div>
	<div class="mask"></div>
	<!-- end .signIn-fixed -->

	<script src="js/jquery-2.2.3.js ">
	</script>

	<!--Include easing-->
	<script src="js/jquery.easing-1.3.0.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap-3.3.5.js "></script>

	<!-- unslider 图片轮播 -->
	<script src="js/unslider.min.js"></script>
	<script>
		$(document).ready(function () {
			$('section.nav > div.container > div.meunmain > ul > li').hover(function () {
				$(this).find('div.dropdown').slideToggle("fast");
			});
			$(window).scroll(function () {
				var targetTop = $(this).scrollTop();
				if (targetTop < 129) {
					$('section.navfixed').slideUp();
				}
				if (targetTop > 128) {
					$('section.navfixed').slideDown();
				}
			});
			$(".dropdown > .meunL > ul > li").each(function (i) {
				$(this).hover(function () {
					$(this).addClass("active").siblings().removeClass("active");
				});
			});
		});
		$(function () {
			$('.indexBanner').unslider({
				dots: true,
			});
			$('.indexBanner-min').unslider({
				dots: true,
			});
		});
	</script>
</body>

</html>