<div class="searchBar">
	<div class="start">
		<input type="text" placeholder="ProductName/Category/Function">
		<a href="#">Start Sourcing</a>
	</div>
	<div class="upload">
		<a href="#">Upload Sourcing Plan</a>
	</div>

	<div class="search">
		<form action="{:U('Ucenter/shop_select')}" method="POST">
				<input type="hidden" name="time_s" id="time_s" value="">
				<input type="hidden" name="time_e" id="time_e" value="">
				<input type="text" placeholder="Enquing No./Order No./Product ID." name="select_n" id="select_n">
				<button  onclick="select_time()"><i class="fa fa-search" aria-hidden="true" oninput="select_time()"></i></button>
			</form>
	</div>
	<div class="clr"></div>
</div>
			<div class="searchBar">
            <if condition="$title == 'enquiry' OR $title == 'samplerequest' OR $title == 'shoppingcart' OR $title == 'DeletedOrder' OR $title == 'crowdfunding' OR $title == 'order' OR $title == 'crowdfunding'">
            <if condition="$title == 'enquiry' OR $title == 'samplerequest'">
				<div class="button black"><a href="#">New Order</a></div>
                </if>
				<div class="button"><a href="#">Add To Order</a></div>
				<div class="select">
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							New Order <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Order No. 101010</a></li>
							<li><a href="#">Order No. 101012</a></li>
							<li><a href="#">Order No. 101013</a></li>
							<li><a href="#">Order No. 101014</a></li>
							<li><a href="#">Order No. 101014</a></li>
							<li><a href="#">Order No. 101015</a></li>
							<li><a href="#">Order No. 101016</a></li>
							<li><a href="#">Order No. 101017</a></li>
							<li><a href="#">Order No. 101018</a></li>
							<li><a href="#">Order No. 101019</a></li>
							<li><a href="#">Order No. 101024</a></li>
							<li><a href="#">Order No. 101034</a></li>
						</ul>
					</div>
				</div></if>
				<if condition="$title == 'sourcing' OR $title == 'sourcing_new' ">
					<div class="button black"><a href="{:U('ucenter/sourcing_new')}">New Sourcing Plan</a></div>
				</if>
				<div class="data">
					Date Range
					<div>
						<input type="text" value="26/12/2016" id="dataOne">
						<i class="fa fa-calendar" aria-hidden="true"></i>
					</div>
					-
					<div>
						<input type="text" value="16/12/2016" id="dataTwo">
						<i class="fa fa-calendar" aria-hidden="true"></i>
					</div>
				</div>
			</div>
<script type="text/javascript">
	function select_time() {
		var ts = $("#dataOne").val(), te = $("#dataTwo").val();
		try {
			$("#time_s").val(ts);
			$("#time_e").val(te);
		} catch (e) {
			console.log(e);
		} finally {
			ts = null;
			te = null;
		}
	}
</script>