<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!-- Viewport Metatag -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Plugin Stylesheets first to ease overrides -->
    <link rel="stylesheet" type="text/css" href="__ADMIN__/plugins/colorpicker/colorpicker.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/custom-plugins/wizard/wizard.css" media="screen">
    <!-- Required Stylesheets -->
    <link rel="stylesheet" type="text/css" href="__ADMIN__/bootstrap/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/fonts/ptsans/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/fonts/icomoon/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/mws-style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/icons/icol16.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/icons/icol32.css" media="screen">
    <!-- Demo Stylesheet -->
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/demo.css" media="screen">
    <!-- jQuery-UI Stylesheet -->
    <link rel="stylesheet" type="text/css" href="__ADMIN__/jui/css/jquery.ui.all.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/jui/jquery-ui.custom.css" media="screen">
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/mws-theme.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/themer.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/admin_page.css" media="screen">
    <title>后台管理系统</title>
</head>
<body>
<!-- Header -->
<block name="include"><include file="Common/header" /></block>
<!-- Start Main Wrapper -->
<div id="mws-wrapper">
    <!-- Necessary markup, do not remove -->
    <div id="mws-sidebar-stitch"></div>
    <div id="mws-sidebar-bg"></div>
    <!-- Sidebar Wrapper -->
    <div id="mws-sidebar">
        <!-- Hidden Nav Collapse Button -->
        <div id="mws-nav-collapse">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- Left -->
        <block name="include"><include file="Common/left_nav" /></block>
    </div>
    <!-- Main Container Start -->
    <div id="mws-container" class="clearfix">
        <!-- Inner Container Start -->
        <div class="container">
            <div class="mws-panel grid_8">
                <div class="mws-panel-header">
                    <span><i class="icon-table"></i>{$title}列表</span>
                    <div class="mws-collapse-button" style="width:105px;">
                        <a href="{:U('Imgshow/ImageAdd')}">
                            <button class="btn btn-success btn-mini" style="width: 105px;"><i class="icon-plus"></i> 添加子页大图</button>
                        </a>
                    </div>
                </div>
                <div class="mws-panel-body no-padding">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
                        <form action="__APP__/Imgshow/ImageAll" method="get" >
                            <div class="dataTables_filter">
                                <label>
                                    显示位置 &nbsp;&nbsp;
                                    <select name="sorts">
                                        <option value="0" >全部</option>
                                        <volist name="option" id="vo">
                                            <option value="{$vo.Id}" <if condition="$vo.Id eq $_GET.sorts ">selected</if>>{$vo.name}</option>
                                        </volist>
                                    </select>
                                </label><input type="submit" class='btn' value="搜索"><a href="{:U('Imgshow/ImageAll')}" class='btn'>清空</a></div>
                        </form>
                    </div>
                    <table class="mws-datatable-fn mws-table">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>图片</th>
                            <th>链接方式</th>
                            <th>显示位置</th>
                            <th>状态</th>
                            <th>添加时间</th>
                            <th>修改时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <foreach name="list" item="vo">
                            <tr>
                                <td>{$vo.id}</td>
                                <td><img src="{$vo.image}" /></td>
                                <td>{$vo.LinkType_name}</td>
                                <td>{$vo.sorts}</td>
                                <td>{$vo.status_name}</td>
                                <td>{$vo.create_time_date}</td>
                                <td>{$vo.updata_time_date}</td>
                                <td>
                                    <a href="{:U('Imgshow/ImageEdit',array('id'=>$vo['id']))}"><button type="button" class="btn" ><i class="icon-pencil"></i> 修改</button></a>
                                    <switch name="vo['status']">
                                        <case value="1"><a href="{:U('Imgshow/Imagestatus',array('id'=>$vo['id'],'status'=>0))}"><button type="button" class="btn" ><i class="icon-unlock"></i> 禁用</button></a></case>
                                        <case value="0"><a href="{:U('Imgshow/Imagestatus',array('id'=>$vo['id'],'status'=>1))}"><button type="button" class="btn" ><i class="icon-lock"></i> 开启</button></a></case>
                                    </switch>
                                    <a onclick="show_confirm({$vo['id']},'Imgshow','Imagestatus')"><button type="button" class="btn" ><i class="icon-trash"></i> 删除</button></a>
                                    <php>if($vo['sorts_val']==4 && $vo['lv']==1){</php>
                                    <a href="{:U('Imgshow/ImageAdd',array('pid'=>$vo['id']))}"><button type="button" class="btn" ><i class="icon-pencil"></i>添加下级图</button></a>
                                    <php>}</php>
                                </td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                </div>
                <div class="grid_8 page">
                    {$page}
                </div>
            </div>
            <!-- Panels End -->
        </div>
        <!-- Inner Container End -->
        <!-- Footer -->
        <include file="Common:footer"/>
    </div>
    <!-- Main Container End -->
</div>
<!-- JavaScript Plugins -->
<script src="__ADMIN__/js/libs/jquery-1.8.3.min.js"></script>
<script src="__ADMIN__/js/libs/jquery.mousewheel.min.js"></script>
<script src="__ADMIN__/js/libs/jquery.placeholder.min.js"></script>
<script src="__ADMIN__/custom-plugins/fileinput.js"></script>
<!-- jQuery-UI Dependent Scripts -->
<script src="__ADMIN__/jui/js/jquery-ui-1.9.2.min.js"></script>
<script src="__ADMIN__/jui/jquery-ui.custom.min.js"></script>
<script src="__ADMIN__/jui/js/jquery.ui.touch-punch.js"></script>
<!-- Plugin Scripts -->
<script src="__ADMIN__/plugins/datatables/jquery.dataTables.min.js"></script>
<!--[if lt IE 9]>
<script src="__ADMIN__/js/libs/excanvas.min.js"></script>
<![endif]-->
<script src="__ADMIN__/plugins/flot/jquery.flot.min.js"></script>
<script src="__ADMIN__/plugins/flot/plugins/jquery.flot.tooltip.min.js"></script>
<script src="__ADMIN__/plugins/flot/plugins/jquery.flot.pie.min.js"></script>
<script src="__ADMIN__/plugins/flot/plugins/jquery.flot.stack.min.js"></script>
<script src="__ADMIN__/plugins/flot/plugins/jquery.flot.resize.min.js"></script>
<script src="__ADMIN__/plugins/colorpicker/colorpicker-min.js"></script>
<script src="__ADMIN__/plugins/validate/jquery.validate-min.js"></script>
<script src="__ADMIN__/custom-plugins/wizard/wizard.min.js"></script>
<!-- Core Script -->
<script src="__ADMIN__/bootstrap/js/bootstrap.min.js"></script>
<script src="__ADMIN__/js/core/mws.js"></script>
<!-- Themer Script (Remove if not needed) -->
<script src="__ADMIN__/js/core/themer.js"></script>
<script src="__ADMINJS__/delshow.js"></script>
<!-- Demo Scripts (remove if not needed) -->
</body>
</html>
