<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">

    <!-- Viewport Metatag -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Plugin Stylesheets first to ease overrides -->
    <link rel="stylesheet" type="text/css" href="__ADMIN__/plugins/colorpicker/colorpicker.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/custom-plugins/wizard/wizard.css" media="screen">

    <!-- Required Stylesheets -->
    <link rel="stylesheet" type="text/css" href="__ADMIN__/bootstrap/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/fonts/ptsans/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/fonts/icomoon/style.css" media="screen">

    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/mws-style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/icons/icol16.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/icons/icol32.css" media="screen">

    <!-- Demo Stylesheet -->
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/demo.css" media="screen">

    <!-- jQuery-UI Stylesheet -->
    <link rel="stylesheet" type="text/css" href="__ADMIN__/jui/css/jquery.ui.all.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/jui/jquery-ui.custom.css" media="screen">

    <!-- Theme Stylesheet -->
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/mws-theme.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/themer.css" media="screen">

    <link rel="stylesheet" href="__PUBLIC__/umeditor/themes/default/css/umeditor.min.css">
    <style type="text/css">
        /*.select_width {*/
            /*width: 150px;*/
        /*}*/
    </style>

    <title>后台管理系统</title>

</head>

<body>
<!-- Themer End -->

<!-- Header -->
<include file="./Application/Admin/View/Common/header.html" />

<!-- Start Main Wrapper -->
<div id="mws-wrapper">

    <!-- Necessary markup, do not remove -->
    <include file="./Application/Admin/View/Common/left_nav.html" />


    <!-- Main Container Start -->
    <div id="mws-container" class="clearfix">

        <!-- Inner Container Start -->
        <div class="container">

            <!-- Statistics Button Container -->

            <!-- Panels Start -->


            <div class="mws-panel grid_8">
                <div class="mws-panel-header">
                    <span style="float: left">{$title}</span>
                    <span style="float: left;margin-left: 50px;">产品所属分类：{$proName}</span>
                </div>
                <div class="mws-panel-body no-padding">
                    <form class="mws-form" action="{:U('Goods/add_style')}" method="post" enctype="multipart/form-data">
                        <input type="hidden" class="prodId" value="{$pid}" name="prodId"/>
                        <input type="hidden" class="proTypeId" value="{$path}" name="proTypeId"/>
                        <input type="hidden" class="styleinId" value="{$styleinId}" name="styleinId"/>
                        <div class="mws-form-inline">
                            <div class="mws-form-row bordered">
                                <label class="mws-form-label">修改</label>
                                <div class="initial"></div>
                            </div>
                            <div class="mws-form-row bordered">
                                <label class="mws-form-label">添加</label>
                                <div class="mws-form-item">
                                    系列分类
                                    <select class="select_width selectone" id="one_add">
                                        <option value="">请选择</option>
                                        {$html}
                                    </select>
                                    <lable id='lable_two_add'></lable>
                                    <lable id='lable_three_add'></lable>
                                    <input type="button" class="btn" id="add" value="添加">
                                </div>
                            </div>
                        </div>
                        <div class="mws-button-row">
                           <input type="button" value="返回" class="btn" onClick='javascript :history.back(-1);'>
                            <!--<?php if($_SESSION['admin']['levelId']==1 or $_SESSION['admin']['levelId']==3 ){?>-->
                            <input type="button" class="btn btn-danger"  id="del" value="删除">
                            <!--<?php }?>-->
                        </div>
                    </form>
                </div>
            </div>

            <!-- Panels End -->
        </div>
        <!-- Inner Container End -->

        <!-- Footer -->
        <include file="Common:footer"/>

    </div>
    <!-- Main Container End -->

</div>

<!-- JavaScript Plugins -->
<script src="__ADMIN__/js/libs/jquery-1.8.3.min.js"></script>
<script src="__ADMIN__/js/libs/jquery.mousewheel.min.js"></script>
<script src="__ADMIN__/js/libs/jquery.placeholder.min.js"></script>
<script src="__ADMIN__/custom-plugins/fileinput.js"></script>

<!-- jQuery-UI Dependent Scripts -->
<script src="__ADMIN__/jui/js/jquery-ui-1.9.2.min.js"></script>
<script src="__ADMIN__/jui/jquery-ui.custom.min.js"></script>
<script src="__ADMIN__/jui/js/jquery.ui.touch-punch.js"></script>

<!-- Plugin Scripts -->
<script src="__ADMIN__/plugins/datatables/jquery.dataTables.min.js"></script>
<!--[if lt IE 9]>
<script src="__ADMIN__/js/libs/excanvas.min.js"></script>
<![endif]-->
<script src="__ADMIN__/plugins/flot/jquery.flot.min.js"></script>
<script src="__ADMIN__/plugins/flot/plugins/jquery.flot.tooltip.min.js"></script>
<script src="__ADMIN__/plugins/flot/plugins/jquery.flot.pie.min.js"></script>
<script src="__ADMIN__/plugins/flot/plugins/jquery.flot.stack.min.js"></script>
<script src="__ADMIN__/plugins/flot/plugins/jquery.flot.resize.min.js"></script>
<script src="__ADMIN__/plugins/colorpicker/colorpicker-min.js"></script>
<script src="__ADMIN__/plugins/validate/jquery.validate-min.js"></script>
<script src="__ADMIN__/custom-plugins/wizard/wizard.min.js"></script>

<!-- Core Script -->
<script src="__ADMIN__/bootstrap/js/bootstrap.min.js"></script>
<script src="__ADMIN__/js/core/mws.js"></script>

<!-- Themer Script (Remove if not needed) -->
<script src="__ADMIN__/js/core/themer.js"></script>
<script type="text/javascript">
    var prodId=$('.prodId').val(),proTypeId=$('.proTypeId').val();
    initial();


    $(document).on('click', '#del', function () {
        var r = confirm('删除会删除此商品的所有系列，请确认是否删除？');
        if (r == true) {
            doajax('deletestyle',{prodId:prodId},'del',0);
        }
    });
    //初始化
    function initial() {
        var styleinId=$('.styleinId').val(),value={prodId:prodId,proTypeId:proTypeId,styleinId:styleinId};
        doajax('initial',value,'initial',0);
    }
    //改变一级分类
    $(document).on('change', '.selectone', function () {
        var id = $(this).context.id.split("_")[1],value=$(this).val().split("_"),styleId =value[0],child=value[1];
        if(child==1){
            if(styleId!=null){
                var data={styleId:styleId,proTypeId:proTypeId,id:id};
                doajax('selectone',data,'selectone',id);
            }
        }else{
            $("#lable_two_"+id).empty();
            $("#lable_three_"+id).empty();
        }
    });

    //改变二级分类
    $(document).on('change', '.selecttwo', function () {
        var id = $(this).context.id.split("_")[1],value=$(this).val().split("_"),styleId =value[0],child=value[1];
        if(child==1){
            if(styleId!=null){
                var data={styleId:styleId,proTypeId:proTypeId,id:id};
                doajax('selecttwo',data,'selecttwo',id);
            }
        }else{
            $("#lable_three_"+id).empty();
        }
    });


    //添加
    $(document).on('click', '#add', function () {
        var one=$("#one_add").val(),two=$("#two_add").val(),three=$("#three_add").val(),two_data=$("#two_add").data('existed'),three_data=$("#three_add").data('existed'),value;
        if(one){
            value=one;
            if(two_data==true){
                if(two){
                    value=two;
                }else{
                    alert('请选择系列');
                    return;
                }
            }
            console.log(three_data);
            if(three_data==true){
                if(three){
                    value=three;
                }else{
                    alert('请选择系列选项');
                    return;
                }
            }
            var styleId=value.split("_")[0];
            doajax('addstyle',{prodId:prodId,styleId:styleId},'int',0);
        }else{
            alert('请选择系列分类');
        }
    });

    //修改
    $(document).on('click', '.save', function () {
        var id = $(this).context.id.split("_")[1];
        var one=$("#one_"+id).val(),two=$("#two_"+id).val(),three=$("#three_"+id).val(),two_data=$("#two_"+id).data('existed'),three_data=$("#three_"+id).data('existed'),value,old_id=$(this).data('oldid');
        if(one){
            value=one;
            if(two_data==true){
                if(two){
                    value=two;
                }else{
                    alert('请选择系列');
                    return;
                }
            }
            if(three_data==true){
                if(three){
                    value=three;
                }else{
                    alert('请选择系列选项');
                    return;
                }
            }
            var styleId=value.split("_")[0];
            doajax('savestyle',{prodId:prodId,styleId:styleId,old_id:old_id},'int',id);
        }else{
            alert('请选择系列分类');
        }
    });

//    //删除
//    $(document).on('click', '.delete', function () {
//        var id = $(this).context.id.split("_")[1];
//        var one=$("#one_"+id).val(),two=$("#two_"+id).val(),three=$("#three_"+id).val(),two_data=$("#two_"+id).data('existed'),three_data=$("#three_"+id).data('existed'),value,old_id=$(this).data('oldid');
//        if(one){
//            value=one;
//            if(two_data==true){
//                if(two){
//                    value=two;
//                }else{
//                    alert('请选择系列');
//                    return;
//                }
//            }
//            if(three_data==true){
//                if(three){
//                    value=three;
//                }else{
//                    alert('请选择系列选项');
//                    return;
//                }
//            }
//            var styleId=value.split("_")[0];
//            if(styleId==old_id){
//                doajax('deletestyle',{prodId:prodId,styleId:styleId},'int',id);
//            }else{
//                alert('已选择不同的数据，请先按修改或刷新页面');
//            }
//        }else{
//            alert('请选择系列分类');
//        }
//    });

    //ajax
    function doajax(url,value,type,id){
        $.ajax({
            timeout: 5000,
            type: "POST",
            url: '__APP__'+"/Goods/"+url,
            data: value,
            dataType: "json",
            success: function (data) {
                if (data) {
                    if (data.status == 1) {
                        switch (type){
                            case "int":alert(data.msg);initial();break;
                            case "initial":$(".initial").html(data.result);break;
                            case "selectone":$("#lable_two_"+id).html(data.result), $("#lable_three_"+id).empty();break;
                            case "selecttwo":$("#lable_three_"+id).html(data.result);break;
                            case "del":$(".initial").html('暂未添加');break;
                        }
                    } else {
                        alert(data.msg);
                    }
                } else {
                    alert("数据异常！");
                }
            },
            error: function (e) {
                alert("网络访问失败！");
            }
        });
    }
</script>

<!-- Demo Scripts (remove if not needed) -->

</body>
</html>