<!DOCTYPE html>
<html lang="zh-CN">
<include file="Public:header"/>
<body>
<include file="Public:nav"/>
<include file="Public:index_banner"/>
	<!-- end .indexBanner -->

	<section class="resources">
		<div class="container" style="border:none;">
			<div class="termsNconditions">
				<h5 class="title">Terms & Conditions</h5>
				<pre class="termsNconditions">
This page (together with any documents referred to on it) tells you the terms on which you may make use of our website www.galacasa.com (the “Website”), whether as a guest or a registered user. Please read these terms of use carefully before you start to use the Website. By using the Website, you indicate that you accept these terms of use and that you agree to abide by them. If you do not agree to these terms of use, please refrain from using the Website.

1. Accessing the Website
1.1 Access to the Website is permitted on a temporary basis, and we reserve the right to withdraw or amend the service we provide on the Website without notice (see below). We will not be liable if, for any reason, the Website is unavailable at any time or for any period.
1.2 From time to time, we may restrict access to some parts of the Website to users who have registered with us.
1.3 If you choose, or you are provided with, a user identification code, password or any other piece of information as part of our security procedures, you must treat such information as confidential, and you must not disclose it to any third party. We have the right to disable any user identification code or password, whether chosen by you or allocated by us, at any time, if in our opinion you have failed to comply with any of the provisions of these terms of use.
1.5 You are responsible for making all arrangements necessary for you to have access to the Website. You are also responsible for ensuring that all persons who access the Website through your internet connection are aware of these terms, and that they comply with them.

2. Intellectual property rights
2.1 We are the owner of all intellectual property rights in the Website and in the material published on it. Those works are protected by copyright laws and treaties around the world. All such rights are reserved.
2.2 You may print off one copy, and may download extracts, of any page(s) from the Website for your personal reference and you may draw the attention of others within your organisation to material posted on the Website.
2.3 You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.
2.4 Our status (and that of any identified contributors) as the authors of material on the Website must always be acknowledged.
2.5 You must not use any part of the materials on the Website for commercial purposes without obtaining a licence to do so from us.
2.6 If you print off, copy or download any part of the Website in breach of these terms of use, your right to use the Website will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.

3. Reliance on information posted
Commentary and other materials posted on the Website are not intended to amount to advice on which reliance should be placed. We therefore disclaim all liability and responsibility arising from any reliance placed on such materials by any visitor to the Website, or by anyone who may be informed of any of its contents.

4. Our site changes regularly
We aim to update the Website regularly, and may change the content at any time. If the need arises, we may suspend access to the Website, or close it indefinitely. Any of the material on the Website may be out of date at any given time, and we are under no obligation to update such material.

5. Our liability
5.1 The material displayed on the Website is provided without any guarantees, conditions or warranties as to its accuracy. To the extent permitted by law, we and third parties connected to us hereby expressly exclude:
5.1.1 all conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity.
5.1.2 any liability for any direct, indirect or consequential loss or damage incurred by any user in connection with the Website or in connection with the use, inability to use, or results of the use of the Website, any websites linked to it and any materials posted on it, including, without limitation any liability for:
loss of income or revenue;
loss of business;
loss of profits or contracts;
loss of anticipated savings;
loss of data;
loss of goodwill;
wasted management or office time; and
for any other loss or damage of any kind, however arising and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable.
5.1.3 This does not affect our liability for death or personal injury arising from our negligence, nor our liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any other liability which cannot be excluded or limited under applicable law.

6. Information about you and your visits to the Website
We process information about you in accordance with our privacy policy. By using the Website, you consent to such processing and you warrant that all data provided by you is accurate.

7. Viruses, hacking and other offences
7.1 You must not misuse the Website by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to the Website, the server on which the Website is stored or any server, computer or database connected to the Website. You must not attack the Website via a denial-of-service attack or a distributed denial-of service attack.
7.2 By breaching the provision in paragraph 7.1 above, you would commit a criminal offence under the Computer Misuse Act 1990. We may report any such breach to the relevant law enforcement authorities and, if so, we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use the Website will cease immediately.
7.3 Whilst we will not intentionally allow the Website to be used for such purposes, we will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of the Website or to your downloading of any material posted on it, or on any website linked to it.

8. Linking to the Website
8.1 You may link to any page on the Website, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists. Any links must be in a simple hyperlink text format.
8.2 You must not establish a link from any website that is not owned by you.
8.3 The Website must not be framed on any other site.
8.4 The content of the Website may change from time to time. It is your responsibility to ensure that any links are up to date.
8.5 We reserve the right to withdraw linking permission without notice.
8.6 If you wish to make any use of material on the Website other than that set out above (such as graphics and downloadable PDF documents), please address your request to Gala@galison.co.

9. Links from the Website
Where the Website contains links to other sites and resources provided by third parties, these links are provided for your information only. We have no control over the contents of those sites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them. Any dealings you have with a third party (such as a local stockist) are solely between you and that third party.

10. Variations
We may revise these terms of use at any time by amending this page. You are expected to check this page from time to time to take notice of any changes we made, as they are binding on you. Some of the provisions contained in these terms of use may also be superseded by provisions or notices published elsewhere on the Website.

11. Severance
11.1 If any provision of these terms of use (or part of any provision) is found by any court or other body of competent jurisdiction to be invalid, unenforceable or illegal, the other provisions shall remain in force.
11.2 If any invalid, unenforceable or illegal provision would be valid, enforceable and legal if some part of it were deleted, the provision shall apply with whatever modification is necessary to give effect to the commercial intention of the parties.

12. Your concerns
If you have any concerns about material which appears on the Website, please contact gala@galison.co.

Thank you for visiting our Website.
				</pre>

			</div>
		</div>
	</section>
	<!-- end .resources -->

	<include file="Public:footer"/>
	<include file="Public:share"/>
</body>
</html>
<include file="Public:js"/>