<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">

    <!-- Viewport Metatag -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Plugin Stylesheets first to ease overrides -->
    <link rel="stylesheet" type="text/css" href="__ADMIN__/plugins/colorpicker/colorpicker.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/custom-plugins/wizard/wizard.css" media="screen">

    <!-- Required Stylesheets -->
    <link rel="stylesheet" type="text/css" href="__ADMIN__/bootstrap/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/fonts/ptsans/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/fonts/icomoon/style.css" media="screen">

    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/mws-style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/icons/icol16.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/icons/icol32.css" media="screen">

    <!-- Demo Stylesheet -->
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/demo.css" media="screen">

    <!-- jQuery-UI Stylesheet -->
    <link rel="stylesheet" type="text/css" href="__ADMIN__/jui/css/jquery.ui.all.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/jui/jquery-ui.custom.css" media="screen">

    <!-- Theme Stylesheet -->
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/mws-theme.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/themer.css" media="screen">

    <title>后台管理系统</title>
    <style type="text/css">
        .magin5{
            margin-top: 5px;
        }
    </style>

</head>
<body>
<!-- Themer End -->

<!-- Header -->
<include file="./Application/Admin/View/Common/header.html" />

<!-- Start Main Wrapper -->
<div id="mws-wrapper">

    <!-- Necessary markup, do not remove -->

    <include file="./Application/Admin/View/Common/left_nav.html" />
    <!-- Main Container Start -->
    <div id="mws-container" class="clearfix">

        <!-- Inner Container Start -->
        <div class="container">

            <!-- Statistics Button Container -->


            <!-- Panels Start -->


            <div class="mws-panel grid_7">
                <div class="mws-panel-header">
                    <span>{$title}</span>
                </div>
                <div class="mws-panel-body no-padding">
                    <form class="mws-form" action="{:U('Zc/do_edit')}" method="post" enctype="multipart/form-data">
                        <input type="hidden" class="zc_id" name="id" value="{$data.id}">
                        <div class="mws-form-inline">
                            <div class="mws-form-row bordered">
                                <label class="mws-form-label">众筹标题 <span class="required">*</span></label>
                                <div class="mws-form-item">
                                    <input type="text" class="large require" name="title" value="{$data.title}">
                                </div>
                            </div>
                            <div class="mws-form-row bordered">
                                <label class="mws-form-label">热门值</label>
                                <div class="mws-form-item">
                                    <input type="text" class="require" name="top"  placeholder="值越大,顺序越靠前" value="{$data.top}">
                                </div>
                            </div>
                            <div class="mws-form-row bordered">
                                <label class="mws-form-label">单价 <span class="required">*</span></label>
                                <div class="mws-form-item">
                                    <input type="text" class="large require" name="price" value="{$data.price}">
                                </div>
                            </div>
                            <div class="mws-form-row bordered">
                                <label class="mws-form-label">期待数量 <span class="required">*</span></label>
                                <div class="mws-form-item">
                                    <input type="text" class="large require" name="expect_number" value="{$data.expect_number}">
                                </div>
                            </div>
                            <div class="mws-form-row bordered">
                                <label class="mws-form-label">当前数量 </label>
                                <div class="mws-form-item">
                                    <input type="text" class="large require" name="current_number" value="{$data.current_number}">
                                </div>
                            </div>
                            <div class="mws-form-row bordered">
                                <label class="mws-form-label">开始时间 <span class="required">*</span></label>
                                <div class="mws-form-item">
                                    <input type="text" class="require" name="start_time" onclick="laydate()" value="{$data.start_time_date}">
                                </div>
                            </div>
                            <div class="mws-form-row bordered">
                                <label class="mws-form-label">截止时间 <span class="required">*</span></label>
                                <div class="mws-form-item">
                                    <input type="text" class="require" name="end_time" onclick="laydate()" value="{$data.end_time_date}">
                                </div>
                            </div>
                            <div class="mws-form-row bordered">
                                <label class="mws-form-label">众筹商品描述</label>
                                <div class="mws-form-item">
                                    <script id="myEditor" name="content" type="text/plain" class="large">{$data.content}</script>
                                </div>
                            </div>
                            <div class="mws-form-row bordered">
                                <label class="mws-form-label">众筹商品原图</label>
                                <img src="{$data.image}"/>
                            </div>
                            <div class="mws-form-row bordered">
                                <label class="mws-form-label">上传新图</label>
                                <div class="mws-form-item">
                                    <input type="file" name="image" class="required">
                                    <label for="picture" class="error" generated="true" style="display:none"></label>
                                </div>
                            </div>
                            <div class="mws-form-row bordered">
                                <label class="mws-form-label">开启状态 <span class="required">*</span></label>
                                <div class="mws-form-item clearfix">
                                    <ul class="mws-form-list inline">
                                        <li><input type="radio" name="status" value="1" <?php if($data['status']==1){echo 'checked';}?> > <label>开启</label></li>
                                        <li><input type="radio" name="status" value="0" <?php if($data['status']==0){echo 'checked';}?>> <label>关闭</label></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mws-form-row bordered add_stage">
                                <p style="color: #ff0000" class="data_stage" data-stage="">注：-1代表无限大,修改-1无效</p>
                                <label class="mws-form-label" >修改阶段 </label>
                                <div class="stage">
                                </div>
                            </div>
                            <div class="mws-form-row bordered add_stage">
                                <p style="color: #ff0000">注：数量越到大价格需相应减少,数量与价格不可为空或0</p>
                                <label class="mws-form-label">添加阶段 </label>
                                <div class="mws-form-item">
                                    此阶段最大数量 <input type="text" class="require stage_end"> 单价 <input type="text" class="require stage_price">
                                    <input type="button" class="add btn" value="添加阶段">
                                </div>
                            </div>
                        </div>
                        <div class="mws-button-row">
                            <input type="submit" value="提交" class="btn btn-danger">
                            <input type="reset" value="重置" class="btn ">
                        </div>
                    </form>
                </div>
            </div>

            <!-- Panels End -->
        </div>
        <!-- Inner Container End -->

        <!-- Footer -->
        <include file="Common:footer"/>

    </div>
    <!-- Main Container End -->

</div>

<!-- JavaScript Plugins -->
<script src="__ADMIN__/js/libs/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/umeditor/umeditor.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/umeditor/umeditor.config.js"></script>
<!-- 配置文件 -->
<script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue=UE.getEditor('myEditor',{
        autoWidth: false ,
        initialFrameHeight:300
    });
</script>
<script src="__ADMIN__/js/libs/jquery.mousewheel.min.js"></script>
<script src="__ADMIN__/js/libs/jquery.placeholder.min.js"></script>
<script src="__ADMIN__/custom-plugins/fileinput.js"></script>

<!-- jQuery-UI Dependent Scripts -->
<script src="__ADMIN__/jui/js/jquery-ui-1.9.2.min.js"></script>
<script src="__ADMIN__/jui/jquery-ui.custom.min.js"></script>
<script src="__ADMIN__/jui/js/jquery.ui.touch-punch.js"></script>

<!-- Plugin Scripts -->
<script src="__ADMIN__/plugins/datatables/jquery.dataTables.min.js"></script>
<!--[if lt IE 9]>
<script src="__ADMIN__/js/libs/excanvas.min.js"></script>
<![endif]-->
<script src="__ADMIN__/plugins/flot/jquery.flot.min.js"></script>
<script src="__ADMIN__/plugins/flot/plugins/jquery.flot.tooltip.min.js"></script>
<script src="__ADMIN__/plugins/flot/plugins/jquery.flot.pie.min.js"></script>
<script src="__ADMIN__/plugins/flot/plugins/jquery.flot.stack.min.js"></script>
<!--<script src="__ADMIN__/plugins/flot/plugins/jquery.flot.resize.min.js"></script>-->
<script src="__ADMIN__/plugins/colorpicker/colorpicker-min.js"></script>
<script src="__ADMIN__/plugins/validate/jquery.validate-min.js"></script>
<script src="__ADMIN__/custom-plugins/wizard/wizard.min.js"></script>

<!-- Core Script -->
<script src="__ADMIN__/bootstrap/js/bootstrap.min.js"></script>
<script src="__ADMIN__/js/core/mws.js"></script>
<script src="__ADMINJS__/laydate/laydate.js"></script>

<!-- Themer Script (Remove if not needed) -->
<script src="__ADMIN__/js/core/themer.js"></script>

<!-- Demo Scripts (remove if not needed) -->
<script type="text/javascript">
    var zc_id=$('.zc_id').val();
    initial();
    function initial() {
        $.ajax({
            timeout: 5000,
            type: "POST",
            url: '__APP__'+"/Zc/edit_stage",
            data: {id: zc_id},
            dataType: "json",
            success: function (data) {
                if (data) {
                    if (data.status == 1) {
                        stage_html(data);
                    } else {
                        alert(data.msg);
                    }
                } else {
                    alert("数据异常！");
                }
            },
            error: function (e) {
                alert("网络访问失败！");
            }
        });
    }
    function stage_html(data){
        var b = "",i=data.result.length;
        $('.data_stage').data("stage", data.result);
        $(".stage").html('');
        $.each(data.result, function (index, item) {
            b+="<div class='mws-form-item magin5'>第"+i+"阶段 最大数量 <input type='text' class='require end_"+item.id+"' value='"+item.end+"'> 单价 <input type='text' class='require price_"+item.id+"' value='"+item.price+"' > <input type='button' class='save btn' id="+item.id+" value='修改此阶段'></div> ";
            i--;
        });
        $(".stage").html(b);
    }
    $(document).on('click', '.add', function () {
        var price=$('.stage_price').val(),end=$('.stage_end').val();
        if(price>0 && end>0){
            $.ajax({
                timeout: 30000,
                type: "POST",
                url: '__APP__'+"/Zc/do_add_stage",
                data: {price:price,end:end,id:zc_id},
                dataType: "json",
                success: function (data) {
                    if (data) {
                        if(data.status==1){
                            stage_html(data);
                            $('.stage_price').val("");
                            $('.stage_end').val("");
                            alert(data.msg);
                        }else{
                            alert(data.msg);
                        }
                    } else {
                        alert("数据异常");
                    }
                },
                error: function (e) {
                    alert("网络异常");
                }
            });
        }else{
            alert('参数有误或不全');
        }
    });
    $(document).on('click', '.save', function () {
        var id=$(this).context.id,num=$(this).parent('.mws-form-item').index(),end=parseInt($('.end_'+id).val()),price=parseFloat($('.price_'+id).val());
        if(price!=$('.data_stage').data("stage")[num]['price'] || end!=$('.data_stage').data("stage")[num]['end']){
            //最后1个
            if($('.data_stage').data("stage")[num-1] && !$('.data_stage').data("stage")[num+1]){
                if(price>$('.data_stage').data("stage")[num-1]['price'] && end<$('.data_stage').data("stage")[num-1]['end']){
                    do_save_stage(end,price,id);
                }else{
                    alert("此阶段最大数量需要小于于上个阶段；单价大于上一个阶段");
                }
                //第一个
            }else if(!$('.data_stage').data("stage")[num-1] && $('.data_stage').data("stage")[num+1]){
                if(price < $('.data_stage').data("stage")[num + 1]['price']){
                    end=-1;
                    do_save_stage(end,price,id);
                }else{
                    alert("此阶段单价需要小于下一个阶段");
                }
            }else if($('.data_stage').data("stage")[num-1] && $('.data_stage').data("stage")[num+1]){
                if($('.data_stage').data("stage")[num-1]['end']==-1) {
                    //-1的下一个
                    if ((price > $('.data_stage').data("stage")[num - 1]['price'] && price < $('.data_stage').data("stage")[num + 1]['price']) && (end > $('.data_stage').data("stage")[num + 1]['end'])) {
                        do_save_stage(end,price,id);
                    }else{
                        alert("此阶段最大数量需要大于下个阶段；单价大于上一个，小于下一个");
                    }
                    //中间
                }else{
                    if((price>$('.data_stage').data("stage")[num-1]['price'] && price<$('.data_stage').data("stage")[num+1]['price']) && (end<$('.data_stage').data("stage")[num-1]['end'] && end>$('.data_stage').data("stage")[num+1]['end'])){
                        do_save_stage(end,price,id);
                    }else{
                        alert("此阶段最大数量需要大于下个阶段，小于上一个阶段；单价小于下一个阶段，大于上一个阶段");
                    }
                }
            }
            function do_save_stage(end,price,stage_id) {
                $.ajax({
                    timeout: 30000,
                    type: "POST",
                    url: '__APP__'+"/Zc/save_stage",
                    data: {fid:zc_id,stage_id:stage_id,price: price,end:end},
                    dataType: "json",
                    success: function (data) {
                        if (data) {
                            if(data.status==1){
                                $('.data_stage').data("stage", data.result);
                                alert(data.msg);
                            }else{
                                alert(data.msg);
                            }
                        } else {
                            alert("数据异常");
                        }
                    },
                    error: function (e) {
                        alert("网络异常");
                    }
                });
            }
        }else{
            alert("没有修改！");
        }
    });
</script>

</body>
</html>