<!DOCTYPE html>
<html lang="zh-CN">
<include file="Public:header"/>
<body>
<include file="Public:nav"/>
<include file="Public:index_banner"/>
<section class="content-masonry">
	<div class="container">
		<!-- end brand -->
		<ul class="grid">
			<li class="grid-item jtweb" style="height:731px;">
				<a><img src="__IMG__/update/Design01.jpg" ></a>
				<a href="#" class="button wbtn" style="top:520px; left: 535px;">Apply Here</a>
			</li>
			<li class="grid-item jtweb" style="height:589px;">
				<a><img src="__IMG__/update/Design02.jpg"></a>
				<h5 class="text" style="top: 240px; left:10px; font-size:58px; color:#666;">I have a new idea today.</h5>
			</li>
			<li class="grid-item jtweb" style="height:380px;">
				<h5 class="text" style="top: 100px; left:10px; font-size:28px; color:#666;line-height: 36px;">
					GALA is a Market Place with creative talents all<br>  around the world. Product designers present <br>
					their innovative ideas and sell the product <br>
					designs to retailers, hypermarket, brands, etc. <br>
					worldwide on this platform.
				</h5>
			</li>
			<li class="grid-item jtweb" style="height:420px;">
				<a><img src="__IMG__/update/Design03.jpg"></a>
				<a href="#" class="button wbtn" style="top:300px; left: 50%; font-size:24px; width:144px; margin-left: -72px;
		text-align: center; ">View All</a>
			</li>
			<li class="grid-item jtweb" style="height:703px;">
				<a><img src="__IMG__/update/Design04.jpg"></a>
				<a href="#" class="button" style="top:390px; right: 10px;">View Series</a>
				<h5 class="text" style="top: 300px; right:10px; font-size:32px; color:#666; text-align: right; line-height: 40px;">Magnetic Kitchen Utensils <br>and Appliances</h5>
			</li>
			<li class="grid-item jtweb" style="height:444px;">
				<a><img src="__IMG__/update/Design05.jpg"></a>
				<a href="#" class="button" style="top:170px; right: 10px;">View Series</a>
				<h5 class="text" style="top: 120px; right:10px; font-size:32px; color:#666; text-align: right; line-height: 40px;">Magnetic Grater</h5>
			</li>
			<li class="grid-item jtweb" style="height:536px;">
				<a><img src="__IMG__/update/Design06.jpg"></a>
				<a href="#" class="button" style="top:250px; left: 250px;">View Series</a>
				<h5 class="text" style="top: 200px; left:180px; font-size:32px; color:#666; text-align: left; line-height: 40px;">Chopping Board Set</h5>
			</li>
			<li class="grid-item jtweb" style="height: 180px">
				<h5 class="text" style="top: 80px; left:10px; font-size:62px; color:#666; text-align: left; line-height: 40px;">Packaging Design</h5>
			</li>
			<li class="grid-item jtweb" style="height:572px;">
				<a><img src="__IMG__/update/Design07.jpg"></a>
			</li>
			<li class="grid-item jtweb" style="height:774px;">
				<a><img src="__IMG__/update/Design08.jpg"></a>
			</li>
			<li class="grid-item jtweb" style="height:786px;">
				<a><img src="__IMG__/update/Design09.jpg"></a>
			</li>
			<li class="grid-item jtweb" style="height: 320px;">
				<a href="#" class="button" style="top:170px; left: 520px;">Special Service</a>
				<h5 class="text" style="top: 60px; left:0px; font-size:32px; width:100%; color:#666; text-align: center; line-height: 40px;">We are capable of designing a completed series of<br> product to accomplish all your needs.</h5>
			</li>
		</ul>
	</div>
	<!-- end .container -->
</section>
<!-- end .content-masonry -->

<include file="Public:footer"/>
<include file="Public:share"/>
</body>
</html>
<include file="Public:js"/>